USE [ZenDrive]
GO
/****** Object:  Table [dbo].[Заявки_на_тест_драйв]    Script Date: 08.03.2024 17:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки_на_тест_драйв](
	[Код_заявки] [int] IDENTITY(1,1) NOT NULL,
	[Код_электромобиля] [int] NOT NULL,
	[имя] [varchar](255) NOT NULL,
	[e_mail] [varchar](255) NULL,
	[телефон] [varchar](20) NOT NULL,
	[дата_заявки] [date] NOT NULL,
 CONSTRAINT [PK__Заявки_н__D51396584CF06E21] PRIMARY KEY CLUSTERED 
(
	[Код_заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Кузов]    Script Date: 08.03.2024 17:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кузов](
	[Код_кузова] [int] IDENTITY(1,1) NOT NULL,
	[Код_электромобиля] [int] NOT NULL,
	[длина] [int] NOT NULL,
	[ширина] [int] NOT NULL,
	[высота] [int] NOT NULL,
	[колесная_база] [int] NOT NULL,
	[шины] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Кузов__B426D197B22112C8] PRIMARY KEY CLUSTERED 
(
	[Код_кузова] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Характеристики]    Script Date: 08.03.2024 17:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Характеристики](
	[Код_характеристики] [int] IDENTITY(1,1) NOT NULL,
	[Код_электромобиля] [int] NOT NULL,
	[тип_двигателя] [varchar](50) NOT NULL,
	[мощность_электромотора] [int] NOT NULL,
	[запас_хода] [int] NOT NULL,
	[емкость_батареи] [int] NOT NULL,
	[привод] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Характер__AB27A303F03E976C] PRIMARY KEY CLUSTERED 
(
	[Код_характеристики] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Электромобили]    Script Date: 08.03.2024 17:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Электромобили](
	[Код_электромобиля] [int] IDENTITY(1,1) NOT NULL,
	[Название] [varchar](255) NOT NULL,
	[Наличие] [varchar](10) NOT NULL,
	[Цена] [int] NOT NULL,
	[Фото1] [varchar](50) NULL,
	[Фото2] [varchar](50) NULL,
 CONSTRAINT [PK__Электром__8DAF4B4BF4E499BB] PRIMARY KEY CLUSTERED 
(
	[Код_электромобиля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заявки_на_тест_драйв] ON 

INSERT [dbo].[Заявки_на_тест_драйв] ([Код_заявки], [Код_электромобиля], [имя], [e_mail], [телефон], [дата_заявки]) VALUES (1, 3, N'Валентин П.', N'pavlov1987@gmail.com ', N'89054566783', CAST(N'2024-01-25' AS Date))
INSERT [dbo].[Заявки_на_тест_драйв] ([Код_заявки], [Код_электромобиля], [имя], [e_mail], [телефон], [дата_заявки]) VALUES (2, 8, N'Игорь К.', N'florenj@gmail.com ', N'89678360387', CAST(N'2024-02-04' AS Date))
INSERT [dbo].[Заявки_на_тест_драйв] ([Код_заявки], [Код_электромобиля], [имя], [e_mail], [телефон], [дата_заявки]) VALUES (3, 10, N'Дмитрий Н.', N'dimanosov@mail.ru ', N'89386728517', CAST(N'2024-01-23' AS Date))
SET IDENTITY_INSERT [dbo].[Заявки_на_тест_драйв] OFF
GO
SET IDENTITY_INSERT [dbo].[Кузов] ON 

INSERT [dbo].[Кузов] ([Код_кузова], [Код_электромобиля], [длина], [ширина], [высота], [колесная_база], [шины]) VALUES (1, 1, 5036, 2018, 1439, 3150, N'R22')
INSERT [dbo].[Кузов] ([Код_кузова], [Код_электромобиля], [длина], [ширина], [высота], [колесная_база], [шины]) VALUES (2, 2, 5040, 1910, 1569, 2990, N'R18')
INSERT [dbo].[Кузов] ([Код_кузова], [Код_электромобиля], [длина], [ширина], [высота], [колесная_база], [шины]) VALUES (3, 3, 5200, 1852, 1800, 3100, N'265/45 R21')
SET IDENTITY_INSERT [dbo].[Кузов] OFF
GO
SET IDENTITY_INSERT [dbo].[Характеристики] ON 

INSERT [dbo].[Характеристики] ([Код_характеристики], [Код_электромобиля], [тип_двигателя], [мощность_электромотора], [запас_хода], [емкость_батареи], [привод]) VALUES (1, 1, N'Электрический', 672, 705, 120, N'4WD')
INSERT [dbo].[Характеристики] ([Код_характеристики], [Код_электромобиля], [тип_двигателя], [мощность_электромотора], [запас_хода], [емкость_батареи], [привод]) VALUES (2, 2, N'Электрический', 136, 431, 54, N'Передний привод')
INSERT [dbo].[Характеристики] ([Код_характеристики], [Код_электромобиля], [тип_двигателя], [мощность_электромотора], [запас_хода], [емкость_батареи], [привод]) VALUES (3, 3, N'Гибрид', 449, 1200, 45, N'Полный')
SET IDENTITY_INSERT [dbo].[Характеристики] OFF
GO
SET IDENTITY_INSERT [dbo].[Электромобили] ON 

INSERT [dbo].[Электромобили] ([Код_электромобиля], [Название], [Наличие], [Цена], [Фото1], [Фото2]) VALUES (1, N'HIPHI  Z', N'Под заказ', 11600000, N'Pictures\1HIPHI Z.jpg', N'Pictures\2HIPHI Z.jpg')
INSERT [dbo].[Электромобили] ([Код_электромобиля], [Название], [Наличие], [Цена], [Фото1], [Фото2]) VALUES (2, N'HONGQI E-QM 5 ', N'Да', 4550000, N'Pictures\1HONGQI E QM 5.jpg', N'Pictures\2HONGQI E QM 5.jpg')
INSERT [dbo].[Электромобили] ([Код_электромобиля], [Название], [Наличие], [Цена], [Фото1], [Фото2]) VALUES (3, N'LI L9 ', N'Да', 7850000, N'Pictures\1Li L9.jpg', N'Pictures\2Li L9.jpg')
SET IDENTITY_INSERT [dbo].[Электромобили] OFF
GO
ALTER TABLE [dbo].[Электромобили] ADD  CONSTRAINT [DF__Электромоб__Цена__38996AB5]  DEFAULT ((0)) FOR [Цена]
GO
ALTER TABLE [dbo].[Заявки_на_тест_драйв]  WITH CHECK ADD  CONSTRAINT [FK__Заявки_на__Код_э__47DBAE45] FOREIGN KEY([Код_электромобиля])
REFERENCES [dbo].[Электромобили] ([Код_электромобиля])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заявки_на_тест_драйв] CHECK CONSTRAINT [FK__Заявки_на__Код_э__47DBAE45]
GO
ALTER TABLE [dbo].[Кузов]  WITH CHECK ADD  CONSTRAINT [FK__Кузов__Код_элект__412EB0B6] FOREIGN KEY([Код_электромобиля])
REFERENCES [dbo].[Электромобили] ([Код_электромобиля])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Кузов] CHECK CONSTRAINT [FK__Кузов__Код_элект__412EB0B6]
GO
ALTER TABLE [dbo].[Характеристики]  WITH CHECK ADD  CONSTRAINT [FK__Характери__Код_э__3B75D760] FOREIGN KEY([Код_электромобиля])
REFERENCES [dbo].[Электромобили] ([Код_электромобиля])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Характеристики] CHECK CONSTRAINT [FK__Характери__Код_э__3B75D760]
GO
ALTER TABLE [dbo].[Кузов]  WITH CHECK ADD  CONSTRAINT [CK__Кузов__высота__440B1D61] CHECK  (([высота]>(0)))
GO
ALTER TABLE [dbo].[Кузов] CHECK CONSTRAINT [CK__Кузов__высота__440B1D61]
GO
ALTER TABLE [dbo].[Кузов]  WITH CHECK ADD  CONSTRAINT [CK__Кузов__длина__4222D4EF] CHECK  (([длина]>(0)))
GO
ALTER TABLE [dbo].[Кузов] CHECK CONSTRAINT [CK__Кузов__длина__4222D4EF]
GO
ALTER TABLE [dbo].[Кузов]  WITH CHECK ADD  CONSTRAINT [CK__Кузов__колесная___44FF419A] CHECK  (([колесная_база]>(0)))
GO
ALTER TABLE [dbo].[Кузов] CHECK CONSTRAINT [CK__Кузов__колесная___44FF419A]
GO
ALTER TABLE [dbo].[Кузов]  WITH CHECK ADD  CONSTRAINT [CK__Кузов__ширина__4316F928] CHECK  (([ширина]>(0)))
GO
ALTER TABLE [dbo].[Кузов] CHECK CONSTRAINT [CK__Кузов__ширина__4316F928]
GO
ALTER TABLE [dbo].[Характеристики]  WITH CHECK ADD  CONSTRAINT [CK__Характери__емкос__3E52440B] CHECK  (([емкость_батареи]>(0)))
GO
ALTER TABLE [dbo].[Характеристики] CHECK CONSTRAINT [CK__Характери__емкос__3E52440B]
GO
ALTER TABLE [dbo].[Характеристики]  WITH CHECK ADD  CONSTRAINT [CK__Характери__запас__3D5E1FD2] CHECK  (([запас_хода]>(0)))
GO
ALTER TABLE [dbo].[Характеристики] CHECK CONSTRAINT [CK__Характери__запас__3D5E1FD2]
GO
ALTER TABLE [dbo].[Характеристики]  WITH CHECK ADD  CONSTRAINT [CK__Характери__мощно__3C69FB99] CHECK  (([мощность_электромотора]>(0)))
GO
ALTER TABLE [dbo].[Характеристики] CHECK CONSTRAINT [CK__Характери__мощно__3C69FB99]
GO
ALTER TABLE [dbo].[Электромобили]  WITH CHECK ADD  CONSTRAINT [CHK_Электромобили_Наличие] CHECK  (([Наличие]='Под заказ' OR [Наличие]='Нет' OR [Наличие]='Да'))
GO
ALTER TABLE [dbo].[Электромобили] CHECK CONSTRAINT [CHK_Электромобили_Наличие]
GO
ALTER TABLE [dbo].[Электромобили]  WITH CHECK ADD  CONSTRAINT [CK__Электромо__Налич__37A5467C] CHECK  (([Наличие]='Под заказ' OR [Наличие]='Нет' OR [Наличие]='Да'))
GO
ALTER TABLE [dbo].[Электромобили] CHECK CONSTRAINT [CK__Электромо__Налич__37A5467C]
GO
ALTER TABLE [dbo].[Электромобили]  WITH CHECK ADD  CONSTRAINT [CK_Наличие] CHECK  (([Наличие]='Под заказ' OR [Наличие]='Да'))
GO
ALTER TABLE [dbo].[Электромобили] CHECK CONSTRAINT [CK_Наличие]
GO
